* {
  font-family: 'Open Sans', Helvetica, arial, sans-serif;
}
h1 {
  color: #474747;
  font-size: 20px;
}
a {
  font-size: 12px;
  color: #1155CC;
  text-decoration: underline;
}
p {
  font-size: 12px;
  color: #666;
}
i {
  font-style: italic;
  font-size: 12px;
  color: #666;
}
button {
  font-family: Arial, sans-serif;
  font-size: 16px;
  background-color: #95C517;
  color: #293A0C;
  padding: 15px 10px;
}
