* {
    font-family: 'Open Sans', Helvetica, arial, sans-serif;
}

h1 {
    color: #474747;
    font-size: 20px;
}

p {
    font-size: 12px;
    color: #666;
}

i {
    font-style: italic;
    font-size: 12px;
    color: #666;
}
